@charset "UTF-8";

:root {
	--colorDark: #25283D;
	--colorCrimson: #A71D31;
	--colorLight: #F1F0CC;
	--colorGreen: #85BF86;
	--colorBrown: #8D775F;
	--colorWhite: #FFF;
	--colorBlack: #000;
}

body {
	margin: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	color: var(--colorLight);
}

.header {
	background-color: var(--colorCrimson);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--colorWhite);
}

.head-content {
	display: flex;
	flex-direction: row;
	align-content: center;
	justify-content: flex-start;
	padding-left: 24px;
	padding-right: 24px;
	align-self: flex-end;
}

img.bqnn34 {
	max-width: 100%;
	max-height: 100%;
}

div.title {
	margin: 8px;
	font-size: 24px;
}

div.subtitle {
	margin: 8px;
	margin-left: auto;
	margin-top: auto;
	font-size: 24px;
	font-variant: small-caps;
}

div.newfeature {
	display: flex;
	flex-direction: row;
}

.info-bar {
	background-color: var(--colorDark);
	margin-top: 16px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	justify-content: center;
}

.info-bar a {
	color: var(--colorGreen);
}

input#animelistinput {
	margin-left: 16px;
}

@media only screen and (max-width: 960px) {
	input#animelistinput {
		margin-left: 0;
	}
	div.newfeature {
		flex-direction: column;
	}
}

@media only screen and (max-width: 800px) {
	.head-content {
		flex-direction: column;
	}
	div.title {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	div.subtitle {
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 8px;
		font-size: 20px;
		text-align: center;
	}
	
	div.action-bottom {
		flex-direction: column;
	}
}

@media only screen and (max-width: 480px) {
	.head-content {
		flex-direction: column;
		padding-left: 16px;
		padding-right: 16px;
	}
	.info-bar {
		flex-direction: column;
		padding-left: 16px;
		padding-right: 16px;
	}
	div.title {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
	}

	div.subtitle {
		margin: 0;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 8px;
		font-size: 16px;
		text-align: center;
	}
}

.india {
	color: var(--colorGreen);
}

.container {
	background-color: var(--colorDark);
	display: flex;
	flex-direction: column;
	margin: auto;
	padding-bottom: 32px;
	min-height: 100vh;
}

.search-bar {
	min-width: 360px;
	margin-top: 16px;
	margin-left: 96px;
	margin-right: 96px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: baseline;
	flex-wrap: wrap;
}

.search-bar > span {
	margin-top: auto;
	margin-bottom: 4px;
}

.search-container {
	min-width: 320px;
	flex-grow: 1;
	display: flex;
	flex-direction: row;
	color: var(--colorCrimson);
	margin-top: auto;
}

input[type=text] {
	flex-grow: 1;
	box-sizing: border-box;
	background-color: var(--colorDark);
	color: var(--colorLight);
	padding-bottom: 4px;
	border: 0;
	border-bottom: 2px solid var(--colorCrimson);
}

.sort-dropdown {
	display: flex;
	flex-direction: column;
	margin-left: 8px;
	position: relative;
	font-size: 12px;
	min-width: 180px;
}

.sort-dropdown > span {
	color: var(--colorCrimson);
	margin-bottom: 4px;
}

.filteroptions {
	display: flex;
	background-color: var(--colorDark);
}

.labels {
	border: 1px solid var(--colorCrimson);
	color: var(--colorLight);
	background-color: var(--colorDark);
	padding: 8px;
}

.viewer {
	display: flex;
	border: 1px solid var(--colorCrimson);
	color: var(--colorLight);
	background-color: var(--colorDark);
	padding: 8px;
}

.viewer.clicked {
	color: var(--colorLight);
	background-color: var(--colorCrimson);
}

button.movie {
	display: flex;
	border: 1px solid var(--colorCrimson);
	color: var(--colorLight);
	background-color: var(--colorDark);
	padding: 8px;
}

.sort-menu {
}

.filter-platform {
}

.filter-genre {
}

.sort-dropdown span.value {
	padding-left: 24px;
	padding-right: 24px;
	margin-top: auto;
	margin-bottom: auto;
}

.dropdown {
	position: absolute;
	transition: all 0.5s ease;
	margin-top: 32px;
	padding-top: 8px;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	display: none;
	color: var(--colorCrimson);
	background-color: var(--colorDark);
}

.dropdown button {
	margin-right: auto;
	background-color: var(--colorDark);
	color: var(--colorLight);
	position: relative;
	display: block;
	border: 1px solid var(--colorCrimson);
	border-top: 0;
	clear: both;
	z-index: 1;
	width: 100%;
	padding: 8px 24px;
	text-align: start;
}

.checkbox-container {
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	color: var(--colorLight);
	position: relative;
	display: flex;
	flex-direction: row;
	border: 1px solid var(--colorCrimson);
	border-top: 0;
	z-index: 1;
	padding: 12px;
	padding-left: 36px;
	margin-top: auto;
	margin-bottom: auto;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 10px;
  left: 12px;
  height: 16px;
  width: 16px;
  background-color: var(--colorWhite);
  border: 1px solid var(--colorCrimson);
}

.checkbox-container:hover input ~ .checkmark {
  background-color: var(--colorLight);
}

.checkbox-container input:checked ~ .checkmark {
  background-color: var(--colorCrimson);
}

.checkbox-container input:indeterminate ~ .checkmark {
  background-color: var(--colorCrimson);
  height: 10px;
  width: 10px;
  border: 3px solid white  
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block;
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Show the checkmark when checked */
.checkbox-container input:indeterminate ~ .checkmark:after {
  display: none;
}

.text-label {
	margin-top: auto;
	margin-bottom: auto;
}

button:hover {
	color: var(--colorLight);
	border-left: 1px solid var(--colorLight);
	border-right: 1px solid var(--colorLight);
}

.checkbox-container:hover {
	color: var(--colorLight);
	border-left: 1px solid var(--colorLight);
	border-right: 1px solid var(--colorLight);
}

.sort-dropdown:hover > div.dropdown, .dropdown:hover {
	visibility: visible;
	opacity: 1;
	display: block;
}

.action-bottom {
	margin: 16px 96px;
	display: flex;
	flex-direction: row;
}

.results {
	padding-left: 24px;
	padding-right: 8px;
	color: var(--colorLight);
	flex-grow: 1;
	margin-top: auto;
	margin-bottom: auto;
	text-align: start;
}

button.labels {
	width: 144px;
	display: block;
	text-align: center;
}

@media only screen and (max-width: 1150px) {
	.search-bar {
		margin-left: 48px;
		margin-right: 48px;
	}
	.search-container {
		width: 100%;
		margin-bottom: 16px;
	}
	.sort-dropdown {
		flex-grow: 1;
		margin-top: 8px;
		margin-left: 4px;
		margin-right: 4px;
	}
	.action-bottom {
		margin-left: 52px;
		margin-right: 52px;
	}
	.results {
		padding-left: 0;
	}
}

@media only screen and (max-width: 720px) {
	.sort-dropdown {
		width: 100%;
	}
	
	.sort-dropdown:hover > div.dropdown, .dropdown:hover {
		position: inherit;
		visibility: visible;
		opacity: 1;
		display: block;
	}
	
	.dropdown {
		margin: 0;
		padding-top: 8px;
	}
}

@media only screen and (max-width: 480px) {
	.search-bar {
		margin-left: 24px;
		margin-right: 24px;
	}
	.action-bottom {
		margin: 16px 28px;
	}
}

@media only screen and (max-width: 392px) {
	.search-container {
		min-width: 0;
	}
	.search-bar {
		min-width: 0;
	}
	.sort-dropdown {
		min-width: 0;
	}
	.search-bar {
		margin-left: auto;
		margin-right: auto;
	}		
	.action-bottom {
		margin: 16px 4px;
	}
}

.anime-container {
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.anime-object.card {
	max-width: 256px;
	width: 180px;
	display:flex;
	flex-direction: column;
	color: var(--colorLight);
	margin: 8px;
	margin-bottom: 16px;
}

.anime-title.card {
	display: flex;
	font-size: 14px;
	padding: 4px;
	padding-left: 0px;
}

.anime-title.card a {
	margin-top: auto;
	word-break: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--colorLight);
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.anime-img-container.card {
	min-height: 240px;
	flex-grow: 1;
	background-color: var(--colorLight);
	background-position: center top;
	background-size: cover;
}

.anime-brief.card {
	display: flex;
	flex-direction: row;
	font-size: 12px;
	margin-top: 8px;
}

.platform-top.card {
	display: flex;
	flex-grow: 1;
	justify-content: end;
}

.platform-icon.card {
	display: flex;
	padding-right: 8px;
	margin-top: auto;
	margin-bottom: auto;
}

.platform-icon.card > a {
	border-radius: 50%;
    width: 16px;
    height: 16px;
    padding: 2px;
	font-size: 14px;
    background: var(--colorLight);
    color: var(--colorCrimson);
    text-align: center;
}

a#Ani-One {
	background: #fff;
	color: #000;
}

a#CONtv {
	background: #000;
	color: #fff;
}

a#Crunchyroll {
	background: #fff;
	color: #DF6300;
}

a#GundamInfo {
	background: #000;
	color: #ff0;
}

a#MuseAsia {
	background: #F7941D;
	color: #000;	
}

a#Netflix {
	background: #000;
	color: #F00;	
}
a#PrimeVideo {
	background: #15317E;
	color: #FFF;	
}
a#Youtube {
	background: #F00;
	color: #FFF;	
}

a#tubiTV {
	background: #eee;
	color: #ff8c00;
}

a#anilog {
	background: #3BB9FF;
	color: #FFF;
}

a#JFF {
	background: #FFF;
	color: #000;
}

a#WeTV {
	background: #FFF;
	color: #3BB9FF;
}

a#NHK {
	background: #FFF;
	color: #DD0005;
}

a#JAFClassics {
	background: #FFF;
	color: #8B0000;
}
a#Hotstar {
	background: #1f80e0;
	color: #132d60;
}
a#bilibili {
	background: #FFF;
	color: #409eff;
}


.anime-score.card {
	padding: 4px;
	border-left: 1px solid var(--colorCrimson);
	border-right: 1px solid var(--colorCrimson);
	margin-top: auto;
	margin-bottom: auto;
}

.anime-score.card > span {
	vertical-align: text-top;
}

.anime-share.card {
	padding-left: 8px;
	margin-top: auto;
	margin-bottom: auto;
	flex-grow: 1;
	cursor: pointer;	
}

.anime-episodes.card {
	padding-left: 8px;
	flex-grow: 1;
	margin-top: auto;
	margin-bottom: auto;
}

/*List layout*/
.anime-object.list {
	display:flex;
	flex-direction: row;
	width: 310px;
	max-width: 310px;
	color: var(--colorLight);
	margin: 4px;
	margin-bottom: 16px;
	padding: 4px;
	border: 1px solid var(--colorCrimson);
}

.anime-img-container.list {
	min-height: 80px;
	min-width: 80px;
	background-color: var(--colorLight);
	background-position: center top;
	background-size: cover;
}

.anime-brief.list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	font-size: 12px;
	margin-left: 8px;
}

.anime-header.list {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid var(--colorCrimson)
}

.anime-title.list {
	font-size: 14px;
	padding: 4px;
	padding-left: 0px;
	max-width: 168px;
}

.anime-title.list a {
	display: block;
	margin-top: auto;
	word-break: break-word;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	color: var(--colorLight);
}

.anime-score.list {
	padding: 4px;
	margin-left: auto;	
	display: inherit;
}

.platform-top.list {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}

.platform-icon.list {
	display: flex;
	padding-right: 8px;
	margin-top: auto;
	margin-bottom: auto;
}

.platform-icon.list > a {
    padding: 2px;
	font-size: 14px;
    color: var(--colorCrimson);
    text-align: center;
    border: 1px solid var(--colorCrimson);
}

.anime-share.list {
	padding-right: 8px;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: auto;
	cursor: pointer;
}

a.list#Ani-One {
	border-color: #fff;
	color: #fff;
    background-color: var(--colorDark);
}

a.list#CONtv {
	border-color: #fff;
    background-color: var(--colorDark);
}

a.list#Crunchyroll {
	border-color: #DF6300;
    background-color: var(--colorDark);
}

a.list#GundamInfo {
	border-color: #ff0;
    background-color: var(--colorDark);
}

a.list#MuseAsia {
	border-color: #F7941D;	
	color: #F7941D;
    background-color: var(--colorDark);
}

a.list#Netflix {
	border-color: #F00;
    background-color: var(--colorDark);	
}
a.list#PrimeVideo {
	border-color: #fff;	
    background-color: var(--colorDark);
}
a.list#Youtube {
	border-color: #F00;	
    background-color: var(--colorDark);
}
a.list#tubiTV {
	border-color: #ff8c00;
    background-color: var(--colorDark);
}
a.list#anilog {
	border-color: #3BB9FF;
	color: #3BB9FF;
    	background-color: var(--colorDark);
}
a.list#JFF {
	border-color: #FFF;
	color: #FFF;
    	background-color: #000;
}
a.list#WeTV {
	border-color: #FFF;
	color: #FFF;
    	background-color: #3BB9FF;
}
a.list#NHK {
	color: #FFF;
	border-color: #DD0005;
    	background-color: var(--colorDark);
}
a.list#JAFClassics {
	color: #FFF;
	border-color: #8B0000;
    	background-color: var(--colorDark);
}
a.list#Hotstar {
	color: #FFF;
	border-color: #1f80e0;
	background-color: #132d60;
}
a.list#bilibili {
	background-color: #FFF;
	color: #409eff;
	border-color: #409eff;
}

.footer {
	padding: 16px;
	background-color: var(--colorCrimson);
	color: var(--colorLight);
}

.footer a {
	color: var(--colorGreen);
}

.footer p {
	margin: auto;
	text-align: center;
}

/* Spinner */
#spinner{
	height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 100;
    background: rgba(0, 0, 0, 0.5);
    margin: 0px;
    left: 0;
}

.ring {
    display: inline-block;
    position: absolute;
    top: calc(50vh - 40px);
    left: calc(50vw - 40px);

}

.ring:after {
	content: " ";
	display: block;
	width: 64px;
	height: 64px;
	margin: 8px;
	border-radius: 50%;
	border: 6px solid #cef;
	border-color: #cef transparent #cef transparent;
	animation: ring 1.2s linear infinite;
}

@keyframes ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
  
  
#snackbar {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: var(--colorCrimson);
  color: var(--colorLight);
  text-align: center;
  border-radius: 8px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 50%;
  bottom: 30px;
  font-size: 18px;
}

#snackbar.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 1.0s;
  animation: fadein 0.5s, fadeout 0.5s 1.0s;
}

@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;} 
  to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 30px; opacity: 1;} 
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 30px; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}
